################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Text_Editor/.vs/Text_Editor.slnx/v18/DocumentLayout.backup.json
